In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame(columns=[0, 1, 2, 3])
df

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [16]:
df = df.append([[3,3,3,3], [4,4,4,4]])

In [17]:
df

   0  1  2  3
0  1  1  3  2
0  1  1  3  2
0  3  3  3  3
0  3  3  3  3
1  4  4  4  4

In [20]:
test_str = "i am the man ."

In [21]:
test_str.split(" ")

['i', 'am', 'the', 'man', '.']

In [22]:
test_str

'i am the man .'

In [24]:
print('dfezfz\
sdfs ds')

dfezfzsdfs ds

In [26]:
bb = 2
print("s{}df{}".format(" ", bb))

s df2

In [27]:
from itertools import product

In [32]:
for i,j,k in product([1,2], range(1,4), range(1,3)):
    print(i,j,k)

1 1 1
1 1 2
1 2 1
1 2 2
1 3 1
1 3 2
2 1 1
2 1 2
2 2 1
2 2 2
2 3 1
2 3 2

In [33]:
import os

In [63]:
os.remove("return")

In [65]:
!ls

190227_playing_with_coref_data_1.ipynb
190304_playing_with_coref_data_2.ipynb
190329_preprocessing_data_for_task_1.ipynb
220327_playing_with_gender_number_data_1.ipynb
Untitled.ipynb

In [49]:
ttt = !python "return"

In [53]:
ttt = ["a", "b", "c"]

In [57]:
with open("return", "a") as f:
    f.write(",".join(ttt))

In [59]:
with open("return", "a") as f:
    f.write("\n")

In [60]:
[1, 2, 3]**2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [67]:
for file in os.listdir("testttt"):
    os.remove("testttt/{}".format(file))

In [1]:
def funct1():
    return 1, 2

In [6]:
a = funct1()

In [7]:
a

(1, 2)

In [8]:
b

2

In [9]:
import torch

In [12]:
a = torch.tensor([])

In [13]:
a + 5

tensor([])

In [18]:
[torch.tensor([])]*10

[tensor([]),
 tensor([]),
 tensor([]),
 tensor([]),
 tensor([]),
 tensor([]),
 tensor([]),
 tensor([]),
 tensor([]),
 tensor([])]

In [15]:
torch.tensor([0]*10)

tensor([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [26]:
x = torch.randn(5, 1, 12)

In [27]:
x

tensor([[[-1.3903, -1.5483, -0.7638, -1.5805, -0.4694, -0.2566,  0.8114,
           0.6560,  1.1036,  0.8736,  0.3500, -0.5831]],

        [[ 0.4738,  0.4479, -0.0609, -0.2394, -1.5951, -0.2654,  0.7891,
          -0.2661, -1.3254,  0.2729,  1.9358, -0.1579]],

        [[-0.2843, -0.5474,  0.2121,  1.6104,  0.0241, -1.3829, -0.9076,
          -0.3448, -0.8054, -1.0063,  0.0473,  0.9872]],

        [[-0.4128,  1.5624,  0.0803,  1.3247,  0.2518, -2.0577, -0.7592,
          -0.5317,  1.3885,  1.0565,  0.3480, -1.0110]],

        [[-0.1624,  0.0646,  1.1704, -0.1214, -3.4541, -0.4016,  0.8063,
           1.0609,  1.1733, -1.4047,  0.0775,  0.6466]]])

In [23]:
torch.index_select(x, 1, torch.tensor(2)).shape

torch.Size([3, 1, 5])

In [29]:
"dfzf zfdez "[0] == "d"

True

In [37]:
gold_labels = []
with open("../../data/structured_CoNLL_2012_to_preprocess/train.label", "r") as f:
    for line in f.readlines():
        print(line)
        print(line[:-1].split(" "))
        assert False
        gold_labels.append(line.split(" "))

O O O O B-N O O O O O O O O

['O', 'O', 'O', 'O', 'B-N', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

AssertionError:

In [39]:
[[]] * 3

[[], [], []]

In [54]:
def find_all_sub(beg_idx, end_idx):
    for sub_beg_idx in range(beg_idx, end_idx):
        for sub_end_idx in range(sub_beg_idx+1, end_idx+1):
            yield sub_beg_idx, sub_end_idx

In [56]:
for x,y in find_all_sub(1,5):
    print(x,y)

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

In [49]:
print(list(range(3,3)))

[]

In [59]:
def ye():
    for i in range(3):
        yield i
    yield 7

In [60]:
for i in ye():
    print(i)

0
1
2
7

In [63]:
def prepare_batches_indices(firsts, data_size):
    beg = firsts[0]
    for first in firsts[1:]:
        yield (beg, first)
        beg = first
    yield (beg, data_size)

In [64]:
l = [0, 10,12,23,40]
dsize = 47

In [66]:
for g in prepare_batches_indices(l, dsize):
    print(g)

(0, 10)
(10, 12)
(12, 23)
(23, 40)
(40, 47)

In [24]:
import itertools

In [32]:
class counted_class():
    id_generator = itertools.count()
    def __init__(self):
        self.id = next(counted_class.id_generator)
        self.dede = 11
    def update_dede(self):
        self.dede = 22

In [41]:
a = counted_class()

In [44]:
a.dede

22

In [46]:
type(a) == counted_class

True

In [43]:
a.update_dede()

In [94]:
a = counted_class()
b = counted_class()
c = counted_class()

In [95]:
c.id

2

In [93]:
counted_class.id_generator = itertools.count()

In [1]:
set = 3

In [3]:
set()

TypeError: 'int' object is not callable

In [1]:
import pandas as pd

In [2]:
test_df = pd.read_csv("../../data/structured_CoNLL_2012/test.csv")

In [3]:
test_df.head()

,Unnamed: 0,col0,col0.1,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14
0,0,pt/nt/44/nt_4409,pt,0,0,In,IN,(TOP(S(PP*,-,-,-,Acts,*,-,O,O,O
1,1,pt/nt/44/nt_4409,pt,0,1,Jerusalem,NNP,(NP*)),-,-,-,Acts,*,(6),B,B-N,B-N
2,2,pt/nt/44/nt_4409,pt,0,2,Saul,NNP,(NP*),-,-,-,Acts,*,(9),B,B-N,B-N
3,3,pt/nt/44/nt_4409,pt,0,3,was,VBD,(VP*,-,-,-,Acts,*,-,O,O,O
4,4,pt/nt/44/nt_4409,pt,0,4,still,RB,(ADVP*),-,-,-,Acts,*,-,O,O,O

In [4]:
list(test_df["col3"])

['In',
 'Jerusalem',
 'Saul',
 'was',
 'still',
 'trying',
 'to',
 'scare',
 'the',
 'followers',
 'of',
 'the',
 'Lord',
 ',',
 'even',
 'saying',
 'he',
 'would',
 'kill',
 'them',
 '.',
 'He',
 'went',
 'to',
 'the',
 'high',
 'priest',
 'and',
 'asked',
 'him',
 'to',
 'write',
 'letters',
 'to',
 'the',
 'synagogues',
 'in',
 'the',
 'city',
 'of',
 'Damascus',
 '.',
 'Saul',
 'wanted',
 'the',
 'high',
 'priest',
 'to',
 'give',
 'him',
 'the',
 'authority',
 'to',
 'find',
 'people',
 'in',
 'Damascus',
 'who',
 'were',
 'followers',
 'of',
 'the',
 'Way',
 '.',
 'If',
 'he',
 'found',
 'any',
 'believers',
 'there',
 ',',
 'men',
 'or',
 'women',
 ',',
 'he',
 'would',
 'arrest',
 'them',
 'and',
 'bring',
 'them',
 'back',
 'to',
 'Jerusalem',
 '.',
 'So',
 'Saul',
 'went',
 'to',
 'Damascus',
 '.',
 'When',
 'he',
 'came',
 'near',
 'the',
 'city',
 ',',
 'a',
 'very',
 'bright',
 'light',
 'from',
 'heaven',
 'suddenly',
 'shined',
 'around',
 'him',
 '.',
 'He',
 'fell',
 'to',
 'the',
 'ground',
 'and',
 'heard',
 'a',
 'voice',
 'saying',
 'to',
 'him',
 ',',
 '``',
 'Saul',
 ',',
 'Saul',
 '!',
 'Why',
 'are',
 'you',
 'persecuting',
 'me',
 '?',
 "''",
 'Saul',
 'said',
 ',',
 '``',
 'Who',
 'are',
 'you',
 ',',
 'Lord',
 '?',
 "''",
 'The',
 'voice',
 'answered',
 ',',
 '``',
 'I',
 'am',
 'Jesus',
 ',',
 'the',
 'one',
 'you',
 'are',
 'persecuting',
 '.',
 'Get',
 'up',
 'now',
 'and',
 'go',
 'into',
 'the',
 'city',
 '.',
 'Someone',
 'there',
 'will',
 'tell',
 'you',
 'what',
 'you',
 'must',
 'do',
 '.',
 "''",
 'The',
 'men',
 'traveling',
 'with',
 'Saul',
 'just',
 'stood',
 'there',
 ',',
 'unable',
 'to',
 'speak',
 '.',
 'They',
 'heard',
 'the',
 'voice',
 ',',
 'but',
 'they',
 'saw',
 'no',
 'one',
 '.',
 'Saul',
 'got',
 'up',
 'from',
 'the',
 'ground',
 'and',
 'opened',
 'his',
 'eyes',
 ',',
 'but',
 'he',
 'could',
 'not',
 'see',
 '.',
 'So',
 'the',
 'men',
 'with',
 'him',
 'held',
 'his',
 'hand',
 'and',
 'led',
 'him',
 'into',
 'Damascus',
 '.',
 'For',
 'three',
 'days',
 'Saul',
 'could',
 'not',
 'see',
 ';',
 'he',
 'did',
 'not',
 'eat',
 'or',
 'drink',
 '.',
 'There',
 'was',
 'a',
 'follower',
 'of',
 'Jesus',
 'in',
 'Damascus',
 'named',
 'Ananias',
 '.',
 'In',
 'a',
 'vision',
 'the',
 'Lord',
 'said',
 'to',
 'him',
 ',',
 '``',
 'Ananias',
 '!',
 "''",
 'Ananias',
 'answered',
 ',',
 '``',
 'Here',
 'I',
 'am',
 ',',
 'Lord',
 '.',
 "''",
 'The',
 'Lord',
 'said',
 'to',
 'him',
 ',',
 '``',
 'Get',
 'up',
 'and',
 'go',
 'to',
 'the',
 'street',
 'called',
 'Straight',
 'Street',
 '.',
 'Find',
 'the',
 'house',
 'of',
 'Judas',
 'and',
 'ask',
 'for',
 'a',
 'man',
 'named',
 'Saul',
 'from',
 'the',
 'city',
 'of',
 'Tarsus',
 '.',
 'He',
 'is',
 'there',
 'now',
 ',',
 'praying',
 '.',
 'He',
 'has',
 'seen',
 'a',
 'vision',
 'in',
 'which',
 'a',
 'man',
 'named',
 'Ananias',
 'came',
 'and',
 'laid',
 'his',
 'hands',
 'on',
 'him',
 'so',
 'that',
 'he',
 'could',
 'see',
 'again',
 '.',
 "''",
 'But',
 'Ananias',
 'answered',
 ',',
 '``',
 'Lord',
 ',',
 'many',
 'people',
 'have',
 'told',
 'me',
 'about',
 'this',
 'man',
 '.',
 'They',
 'told',
 'me',
 'about',
 'the',
 'many',
 'bad',
 'things',
 'he',
 'did',
 'to',
 'your',
 'holy',
 'people',
 'in',
 'Jerusalem',
 '.',
 'Now',
 'he',
 'has',
 'come',
 'here',
 'to',
 'Damascus',
 '.',
 'The',
 'leading',
 'priests',
 'have',
 'given',
 'him',
 'the',
 'power',
 'to',
 'arrest',
 'all',
 'people',
 'who',
 'trust',
 'in',
 'you',
 '.',
 "''",
 'But',
 'the',
 'Lord',
 'Jesus',
 'said',
 'to',
 'Ananias',
 ',',
 '``',
 'Go',
 '!',
 'I',
 'have',
 'chosen',
 'Saul',
 'for',
 'an',
 'important',
 'work',
 '.',
 'He',
 'must',
 'tell',
 'about',
 'me',
 'to',
 'other',
 'nations',
 'and',
 'their',
 'rulers',
 'and',
 'to',
 'the',
 'people',
 'of',
 'Israel',
 '.',
 'I',
 'will',
 'show',
 'him',
 'all',
 'that',
 'he',
 'must',
 'suffer',
 'for',
 'me',
 '.',
 "''",
 'So',
 'Ananias',
 'left',
 'and',
 'went',
 'to',
 'the',
 'house',
 'of',
 'Judas',
 '.',
 'He',
 'laid',
 'his',
 'hands',
 'on',
 'Saul',
 'and',
 'said',
 ',',
 '``',
 'Saul',
 ',',
 'my',
 'brother',
 ',',
 'the',
 'Lord',
 'Jesus',
 'sent',
 'me',
 '.',
 'He',
 'is',
 'the',
 'one',
 'you',
 'saw',
 'on',
 'the',
 'road',
 'when',
 'you',
 'came',
 'here',
 '.',
 'He',
 'sent',
 'me',
 'so',
 'that',
 'you',
 'can',
 'see',
 'again',
 'and',
 'also',
 'be',
 'filled',
 'with',
 'the',
 'Holy',
 'Spirit',
 '.',
 "''",
 'Immediately',
 ',',
 'something',
 'that',
 'looked',
 'like',
 'fish',
 'scales',
 'fell',
 'off',
 'Saul',
 "'s",
 'eyes',
 '.',
 'He',
 'was',
 'able',
 'to',
 'see',
 '!',
 'Then',
 'he',
 'got',
 'up',
 'and',
 'was',
 'baptized',
 '.',
 'After',
 'he',
 'ate',
 ',',
 'he',
 'began',
 'to',
 'feel',
 'strong',
 'again',
 '.',
 'Saul',
 'stayed',
 'with',
 'the',
 'followers',
 'of',
 'Jesus',
 'in',
 'Damascus',
 'for',
 'a',
 'few',
 'days',
 '.',
 'Soon',
 'he',
 'began',
 'to',
 'go',
 'to',
 'the',
 'synagogues',
 'and',
 'tell',
 'people',
 'about',
 'Jesus',
 '.',
 'He',
 'told',
 'the',
 'people',
 ',',
 '``',
 'Jesus',
 'is',
 'the',
 'Son',
 'of',
 'God',
 '!',
 "''",
 'All',
 'the',
 'people',
 'who',
 'heard',
 'Saul',
 'were',
 'amazed',
 '.',
 'They',
 'said',
 ',',
 '``',
 'This',
 'is',
 'the',
 'same',
 'man',
 'who',
 'was',
 'in',
 'Jerusalem',
 'trying',
 'to',
 'destroy',
 'the',
 'people',
 'who',
 'trust',
 'in',
 'Jesus',
 '!',
 'And',
 'that',
 "'s",
 'why',
 'he',
 'has',
 'come',
 'here',
 '--',
 'to',
 'arrest',
 'the',
 'followers',
 'of',
 'Jesus',
 'and',
 'take',
 'them',
 'back',
 'to',
 'the',
 'leading',
 'priests',
 '.',
 "''",
 'But',
 'Saul',
 'became',
 'more',
 'and',
 'more',
 'powerful',
 'in',
 'proving',
 'that',
 'Jesus',
 'is',
 'the',
 'Christ',
 '.',
 'His',
 'proofs',
 'were',
 'so',
 'strong',
 'that',
 'the',
 'Jews',
 'who',
 'lived',
 'in',
 'Damascus',
 'could',
 'not',
 'argue',
 'with',
 'him',
 '.',
 'After',
 'many',
 'days',
 ',',
 'some',
 'Jews',
 'made',
 'plans',
 'to',
 'kill',
 'Saul',
 '.',
 'They',
 'were',
 'watching',
 'the',
 'city',
 'gates',
 'day',
 'and',
 'night',
 '.',
 'They',
 'wanted',
 'to',
 'kill',
 'Saul',
 ',',
 'but',
 'he',
 'learned',
 'about',
 'their',
 'plan',
 '.',
 'One',
 'night',
 'some',
 'followers',
 'that',
 'Saul',
 'had',
 'taught',
 'helped',
 'him',
 'leave',
 'the',
 'city',
 '.',
 'They',
 'put',
 'him',
 'in',
 'a',
 'basket',
 'and',
 'lowered',
 'it',
 'down',
 'through',
 'a',
 'hole',
 'in',
 'the',
 'city',
 'wall',
 '.',
 'Then',
 'Saul',
 'went',
 'to',
 'Jerusalem',
 '.',
 'He',
 'tried',
 'to',
 'join',
 'the',
 'group',
 'of',
 'followers',
 ',',
 'but',
 'they',
 'were',
 'all',
 'afraid',
 'of',
 'him',
 '.',
 'They',
 'did',
 'not',
 'believe',
 'that',
 'he',
 'was',
 'really',
 'a',
 'follower',
 'of',
 'Jesus',
 '.',
 'But',
 'Barnabas',
 'accepted',
 'Saul',
 'and',
 'took',
 'him',
 'to',
 'the',
 'apostles',
 '.',
 'He',
 'told',
 'them',
 'how',
 'Saul',
 'had',
 'seen',
 'the',
 'Lord',
 'on',
 'the',
 'road',
 'and',
 'how',
 'the',
 'Lord',
 'had',
 'spoken',
 'to',
 'Saul',
 '.',
 'Then',
 'he',
 'told',
 'them',
 'how',
 'boldly',
 'Saul',
 'had',
 'spoken',
 'for',
 'the',
 'Lord',
 'in',
 'Damascus',
 '.',
 'And',
 'so',
 'Saul',
 'stayed',
 'with',
 'the',
 'followers',
 'and',
 'went',
 'all',
 'around',
 'Jerusalem',
 'speaking',
 'boldly',
 'for',
 'the',
 'Lord',
 '.',
 'He',
 'often',
 'had',
 'arguments',
 'with',
 'the',
 'Greek',
 '-',
 'speaking',
 'Jews',
 ',',
 'who',
 'began',
 'making',
 'plans',
 'to',
 'kill',
 'him',
 '.',
 'When',
 'the',
 'believers',
 'learned',
 'about',
 'this',
 ',',
 'they',
 'took',
 'Saul',
 'to',
 'Caesarea',
 ',',
 'and',
 'from',
 'there',
 'they',
 'sent',
 'him',
 'to',
 'the',
 'city',
 'of',
 'Tarsus',
 '.',
 'The',
 'church',
 'in',
 'Judea',
 ',',
 'Galilee',
 ',',
 'and',
 'Samaria',
 'had',
 'a',
 'time',
 'of',
 'peace',
 '.',
 'With',
 'the',
 'help',
 'of',
 'the',
 'Holy',
 'Spirit',
 ',',
 'the',
 'groups',
 'of',
 'believers',
 'became',
 'stronger',
 'and',
 'showed',
 'their',
 'respect',
 'for',
 'the',
 'Lord',
 'by',
 'the',
 'way',
 'they',
 'lived',
 '.',
 'So',
 'the',
 'church',
 'everywhere',
 'grew',
 'in',
 'numbers',
 '.',
 'Peter',
 'was',
 'traveling',
 'through',
 'all',
 'the',
 'areas',
 'around',
 'Jerusalem',
 ',',
 'and',
 'he',
 'stopped',
 'to',
 'visit',
 'the',
 'believers',
 'who',
 'lived',
 'in',
 'Lydda',
 '.',
 'There',
 'he',
 'met',
 'a',
 'man',
 'named',
 'Aeneas',
 ',',
 'who',
 'was',
 'paralyzed',
 'and',
 'had',
 'not',
 'been',
 ...]

In [7]:
"ki" != "hi"

True

In [8]:
from collections import defaultdict

In [15]:
dd = defaultdict(list)

In [18]:
dd[19].append(14)

In [19]:
dd

defaultdict(list, {19: [3, 4, 14]})

In [21]:
dd[19][-2:]

[4, 14]

In [38]:
a = 3

In [58]:
def batch_by_doc(size, firsts):

    batch = []
    i = 1
    j = 0
    while i < len(firsts):
        if j < firsts[i]:
            batch.append(j)
        else:
            yield batch
            i += 1
            batch = [j]
        j += 1
    yield list(range(firsts[i - 1], size))

In [52]:
firsts = [0, 4, 12, 25]
size = 29

In [59]:
for b in batch_by_doc(size, firsts):
    print(b)

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9, 10, 11]
[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
[25, 26, 27, 28]

In [55]:
tuple(batch_by_doc(size, firsts))

([0, 1, 2, 3],
 [4, 5, 6, 7, 8, 9, 10, 11],
 [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
 [25, 26, 27, 28])

In [62]:
3 in [3]

True

In [63]:
def f(a):
    a = 3
    assert False

In [64]:
b = 4

In [65]:
f(b)

AssertionError:

In [66]:
b

4

In [67]:
b = [1,2,4,5,3]

In [75]:
b[2:4] = [[0,0]]

In [76]:
b

[1, 2, [0, 0]]

In [92]:
def g(**kwargs):
    print(kwargs)
    print(len(kwargs.items()))

In [93]:
g(s=2, pk=3)

{'s': 2, 'pk': 3}
2

In [95]:
for i in range(10):
    print(i)
    if i == 3:
        break

0
1
2
3

In [96]:
min([2,3,1])

1

In [97]:
strin = "0123456"
strin[2:6]

'2345'

In [98]:
x = 23

In [99]:
l = [x]

In [100]:
ll = [2, x]

In [106]:
ll

[2, 23]

In [105]:
x = 3

In [115]:
def f(**kwargs):
    print(type(kwargs))
    if kwargs.items() == 2:
        print("tekram")

In [116]:
f(abel=2, babel="é")

<class 'dict'>

In [124]:
class dezf():
    def __init__(self, **kwargs):
        if "build" in kwargs.keys():
            print("it worked")
            print(kwargs["build"])
        elif len(kwargs) == 0: 
            print("no params")

In [127]:
dezf()

no params

In [128]:
class Boss():
    def __init__(self, s):
        self.s = s

In [129]:
l = [Boss(3), Boss(2)]

In [130]:
l

In [132]:
l[0].s = 4

In [134]:
l[0].s

4